<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PVPOnlyLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PVPOnlyLibrary.Properties.Settings>
            <setting name="devConnectionString" serializeAs="String">
                <value>Data source=ASUSG73\DGSQLServer2008;Initial Catalog=EZPortal;User ID=sa;Password=ibms3666;</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtpout.secureserver.net</value>
            </setting>
            <setting name="SMTPUserName" serializeAs="String">
                <value>systems@galanti.me</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>IBMs3666</value>
            </setting>
            <setting name="prodConnectionString" serializeAs="String">
                <value>Data source=ezportal1024.db.2495201.hostedresource.com;Initial Catalog=EZPortal1024;User ID=EZPortal1024;Password=LetMeIn1024;</value>
            </setting>
            <setting name="deployment" serializeAs="String">
                <value>dev</value>
            </setting>
        </PVPOnlyLibrary.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
